 * {
     margin: 0;
     padding: 0;
 }
 /*--To make the scrolling smooth--*/
 
 html {
     scroll-behavior: smooth;
 }
 /*--For Intro and Heading--*/
 
 .heading-intro {
     color: white;
     font-family: "Noto Sans Khojki", sans-serif;
     text-align: center;
     padding-top: 200px;
 }
 
 .heading-intro h1 {
     font-size: 50px;
     font-weight: bold;
 }
 
 .heading-intro p {
     font-style: italic;
     font-size: 20px;
 }
 /*--For Logo--*/
 
 .logo {
     color: #FFFFFF;
     font-family: "Pacifico", cursive;
     font-size: 30px;
     font-weight: lighter;
     font-style: initial;
     position: absolute;
     top: 4%;
     left: 3%;
 }
 /*--For Explore with me button--*/
 
 .exp-button {
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 /* Styling the button */
 
 .exp-button a {
     display: inline-block;
     padding: 10px 20px;
     color: #ffffff;
     text-decoration: none;
     font-family: "Noto Sans Khojki", sans-serif;
     font-size: 18px;
     border: 2px solid #c6a973;
     border-radius: 5px;
     transition: color 0.3s ease, border-color 0.3s ease;
 }
 /* Hover effect */
 
 .exp-button a:hover {
     color: #987a44;
 }
 
 .exp-button a {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     /* Box shadow */
 }
 
 #navBar {
     font-family: "Noto Sans Khojki", sans-serif;
     width: 150px;
     height: 100vh;
     position: fixed;
     right: -250px;
     top: 0;
     background: #2f4858;
     z-index: 2;
     transition: 0.5s;
 }
 
 nav ul li {
     list-style: none;
     margin: 30px 20px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: #FFFFFF;
 }
 /*--To make Navigation Bar responsive--*/
 
 #menuButton {
     width: 50px;
     height: 50px;
     margin-top: 20px;
     margin-right: 20px;
     background-color: #2f4858;
     text-align: center;
     position: absolute;
     right: 0;
     top: 0;
     border-radius: 3px;
     z-index: 3;
     cursor: pointer;
 }
 
 #menuButton img {
     width: 20px;
     margin-top: 15px;
 }
 /*--For Foods and Images--*/
 
 #foods {
     width: 100%;
     padding: 120px 0;
 }
 
 .foods-text {
     text-align: center;
     margin-top: 200px;
     margin-bottom: 20px;
 }
 
 .foods-text p {
     margin: auto;
     font-family: "Noto Sans Khojki", sans-serif;
     font-size: 50px;
     color: #ffffff;
     font-weight: bold;
 }
 /*--For food images container--*/
 
 .images-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
     padding: 20px;
 }
 /*--For individual image container style--*/
 
 .food-image {
     position: relative;
     border-radius: 10px;
     overflow: hidden;
 }
 /*--For gradient overlay style--*/
 
 .food-image::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #2f4858);
     z-index: 2;
     opacity: 0;
     transition: opacity 0.3s ease;
 }
 /*--Shows overlay on hover--*/
 
 .food-image:hover::after {
     opacity: 1;
 }
 /*--For individual image styles--*/
 
 .food-image img {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     transition: transform 0.3s ease;
 }
 /*--For overall text when hovered--*/
 
 .image-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     font-family: "Noto Sans Khojki", sans-serif;
     text-align: center;
     z-index: 3;
     opacity: 0;
     transition: opacity 0.3s ease;
 }
 /*--For image heading and description--*/
 
 .image-text h2 {
     font-size: 35px;
     font-weight: bold;
 }
 
 .image-text p {
     font-size: 18px;
     font-weight: lighter;
 }
 /*--For text on hover--*/
 
 .food-image:hover .image-text {
     opacity: 1;
 }
 /*--For Footer--*/
 
 footer {
     background-color: #9BAEBC;
     font-family: "Noto Sans Khojki", sans-serif;
     font-weight: bold;
     color: #2F4858;
     text-align: center;
     padding: 30px;
 }